.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.link:link {
  color: #3366BB;
  text-decoration: none;
  margin: 5%;
}

.link:hover {
  color: blue;
}
.link:active {
  color: teal;
}

.checkbox.checkbox {
  margin: 5%;
}

.my-button.my-button {
  margin: 1%;
}